<div class="footer">
    <div class="counter-section">
        <% Object.values(photos).forEach(photo => { %>
        <span id="counter-<%=photo.brand%>">
          <img class="logo" src="/assets/images/<%= photo.brand%>.png"><%= photo.likes%>
        </span>

       <% }); %>
        
    </div>
    <a href="https://www.unsplash.com">Photos provided by Unsplash</a>
</div>
<script>
  const cameras = [
    "canon",
    "nikon",
    "fujifilm",
    "sony",
    "other",
  ]
  $(document).ready(function() {
  cameras.forEach((camera)=>{
    function toggleHandle(){
      $("#counter-" + camera).toggleClass("opacity-half")
      $("#column-" + camera).toggleClass("hidden")
    }

    if (localStorage.getItem('switch-' + camera) && localStorage.getItem('switch-' + camera) === "true") {
    toggleHandle(); 
    }
    $("#counter-" + camera).click(function() {
      toggleHandle();
      localStorage.setItem("switch-" + camera, $("#counter-" + camera).hasClass("opacity-half"));
    })

  })
  })



</script>
</body>
