<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
   
</head>
<body>
    <div class="header">
        <div class="darkening"></div>
        <div class="title-and-search">
            <h1>Comparacam</h1>
            <h4><%= photos.search%></h4>
            <form action="/f" method="GET">
                <input class="search-entry" type="text" placeholder="Search for a topic..." name="search" class="search-box" required="true">
                <input class="search-button" type="submit" value="Search">
            </form>
        </div>
    </div>
